<div id="panel">Sign up</div>
    <div id="sign-up">
      <form id="signup" method="post" action="/registration" >
        <label for="first_name">First name: </label>
        <input type="text" name="first_name" value="">
        <label for="last_name">Last name: </label>
        <input type="text" name="last_name" value="">
        <label for="email">Email: </label>
        <input type="text" name="email" value="">
        <label for="password">Password: </label>
        <input type="password" name="password" value="">
        <input type="submit" value="Login">
      </form>
    </div>
</div>